<body>
  <form action="/crud" method="get" style="margin-bottom:15px;">
    <button type="submit">Add</button>
  </form>
  <table style="width:100%">
      <tr>
          <th style="padding: 16px; border: 1px solid #ebebeb; background-color: #f5f5f5;">Email</th>
          <th style="padding: 16px; border: 1px solid #ebebeb; background-color: #f5f5f5;">First Name</th>
          <th style="padding: 16px; border: 1px solid #ebebeb; background-color: #f5f5f5;">Last Name</th>
          <th style="padding: 16px; border: 1px solid #ebebeb; background-color: #f5f5f5;">Address</th>
          <th style="padding: 16px; border: 1px solid #ebebeb; background-color: #f5f5f5;">Action</th>
      </tr>
      <% for(let i=0; i < datalist.length; i++) { %>
      <tr>
          <td style="padding: 16px; border: 1px solid #ebebeb; text-align: center;"><%= datalist[i].email %></td>
          <td style="padding: 16px; border: 1px solid #ebebeb; text-align: center;"><%= datalist[i].firstName %></td>
          <td style="padding: 16px; border: 1px solid #ebebeb; text-align: center;"><%= datalist[i].lastName %></td>
          <td style="padding: 16px; border: 1px solid #ebebeb; text-align: center;"><%= datalist[i].address %></td>
          <td style="padding: 16px; border: 1px solid #ebebeb; text-align: center;">
              <a href="/edit-crud?id=<%= datalist[i].id || datalist[i]._id %>">Edit</a> | 
              <a href="/delete-crud?id=<%= datalist[i].id || datalist[i]._id %>">Delete</a>
          </td>
      </tr>
      <% } %>
  </table>
</body>